@font-face {
    font-family: 'Delius';
    src: url('Delius-Regular.woff2') format('woff2'),
        url('Delius-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

