@font-face {
    font-family: 'Handjet';
    src: url('Handjet-Light.woff2') format('woff2'),
        url('Handjet-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handjet';
    src: url('Handjet-SemiBold.woff2') format('woff2'),
        url('Handjet-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handjet';
    src: url('Handjet-Medium.woff2') format('woff2'),
        url('Handjet-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

