* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  color: black;
  font-family: 'Handjet';
}
@font-face {
  font-family: 'Handjet';
  src:
    url('./fonts/Handjet-Light.woff2') format('woff2'),
    url('./fonts/Handjet-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Handjet';
  src:
    url('./fonts/Handjet-SemiBold.woff2') format('woff2'),
    url('./fonts/Handjet-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Handjet';
  src:
    url('./fonts/Handjet-Medium.woff2') format('woff2'),
    url('./fonts/Handjet-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

form {
  margin-top: 100px;
  width: 50vw;
  height: 2rem;
  font-size: 20px;
}
button {
  color: black;
  padding: 8px 20px;
  border-radius: 20px;
}
form input {
  width: 80%;
  height: 2rem;
  border-radius: 20px;
  padding-left: 30px;
}
.card {
  padding: 20px;
  border-radius: 10px;
  line-height: 1.6;
  font-size: 30px;
}
form > div {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
